spring:
  webflux:
    base-path: /nhn-adapter
  codecs:
    max-in-memory-size: 12MB
  http:
    codecs:
      max-in-memory-size: 12MB
server:
  port: 8080
  error:
    include-message: always
management:
  server:
    port: 8090
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  endpoints:
    web:
      base-path: /
      exposure:
        include: "info,env,prometheus,health"
    enabled-by-default: true
nhn:
  services:
    ar:
      url: "https://ws-web.test.nhn.no/v1/Ar"
      username: ${NHN_SERVICES_USERNAME}
      password: ${NHN_SERVICES_PASSWORD}
    flr:
      url: "https://ws-web.test.nhn.no/v2/flr"
      username: ${NHN_SERVICES_USERNAME}
      password: ${NHN_SERVICES_PASSWORD}
    msh:
      url: "https://api.tjener.test.melding.nhn.no"
      source-system: "digidir"
oauth2:
  helse-id:
    client-id: ${NHN_CLIENT_ID}
    private-key: ${NHN_PRIVATE_KEY}
    issuer: "https://helseid-sts.test.nhn.no"
    audience: "https://helseid-sts.test.nhn.no"
crypto:
  encryption:
    keystore:
      base64Value: ${CRYPTO_KEYSTORE_VALUE}
      alias: ${CRYPTO_KEYSTORE_ALIAS}
      password: ${CRYPTO_KEYSTORE_PASSWORD}
      type: "PKCS12"
  signature:
    keystore:
      base64Value: ${CRYPTO_KEYSTORE_VALUE}
      alias: ${CRYPTO_KEYSTORE_ALIAS}
      password: ${CRYPTO_KEYSTORE_PASSWORD}
      type: "PKCS12"
  truststore:
    base64Value: ${CRYPTO_KEYSTORE_VALUE}
    alias: ${CRYPTO_KEYSTORE_ALIAS}
    password: ${CRYPTO_KEYSTORE_PASSWORD}
    type: "PKCS12"
logging:
  level:
    org.springframework.http.codec.json: INFO
    org.springframework.core.codec: INFO



