<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty name="APP-NAME" source="spring.application.name" defaultValue="-"/>
    <springProperty name="APP-ENV" source="spring.application.environment" defaultValue="-"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="APPLICATION" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdc>true</includeMdc>
                <customFields>{"application":"${APP-NAME}","environment":"${APP-ENV}","logtype":"application"}</customFields>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!--  Minimum logging level to be presented in the console logs  -->
            <level>TRACE</level>
        </filter>
        <encoder>
            <!--  This is a default property, which denotes default sleuth pattern  -->
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

        <logger name="no.difi" level="INFO" additivity="false">
            <appender-ref ref="APPLICATION"/>
        </logger>
        <logger name="logging.level.org.springframework" level="INFO">
            <appender-ref ref="APPLICATION"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="APPLICATION"/>
            <appender-ref ref="CONSOLE"/>
        </root>
</configuration>